* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Betania Patmos In GDL", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    padding: 2px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 10vh;
    min-height: 60px;
    background-color: rgb(197, 255, 254);
    border: solid 2px black;
    border-radius: 6px;
    margin-bottom: 2px;
}
.header:hover {
    border: inset 2px rgb(0, 170, 255);
}

.conteiner {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0;
    padding: 0;
    height: calc(90vh - 6px); 
    gap: 2px;
    transition: grid-template-colums 0.3s ease;

}

.content {
    background-color: rgb(221, 242, 255);
    border-radius: 6px;
    border: solid 2px black;
    overflow: auto;
}
.content:hover {
    border: inset 2px rgb(0, 170, 255);
}
.sidebar.closed{
    width: 0;
    opacity: 0;
    border: none;
}

.sidebar {
    background-color: rgb(234, 212, 253);
    border: solid 2px black;
    border-radius: 6px;
    overflow: hidden;
    width: 200px;
    transition: all 0.3s ease;

}
.sidebar:hover {
    border: inset 2px rgb(0, 170, 255);

}

.search {
    padding: 5px;
    border-radius: 6px;
    transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out;

}
.search:hover{
    box-shadow: 4px 5px 0 #000000, 0 12px 20px rgb(147, 191, 191);
}

.windows {
    div{
       border-radius: 6px;
        border: solid 2px black;
        background-color: rgb(255, 255, 255);
        width: 280px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out;

    }
    margin-top: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.windows div:hover{
    box-shadow: 4px 5px 0 #000000, 0 12px 20px rgb(180, 198, 208);
}

.mini-windows{
    div {
        border-radius: 6px;
        border: solid 2px black;
        background-color: rgb(255, 255, 255);
        width: 200px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out;

    };

    margin-top: 5px;
    display: flex;
    gap: 20px;
    justify-content: center;
    
    
}
.mini-windows div:hover{
    box-shadow: 4px 5px 0 #000000, 0 12px 20px rgb(180, 198, 208);
}

.nav {
    width: 100%;
    height: 100%; 
    display: flex; 
    justify-content: center;
    padding: 10px 5px 0px 5px;
}

.sideTBtn:hover {
    box-shadow: 4px 5px 0 #000000, 0 12px 20px rgb(147, 191, 191);
}

.sideTBtn {
    padding: 5px;
    border-radius: 6px;
    transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out;
    

}
.exitBtn {
    padding: 5px;
    border-radius: 6px;
    transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out;

}
.exitBtn:hover{
    box-shadow: 4px 5px 0 #000000, 0 12px 20px rgb(147, 191, 191);

}
.sideBtn {
    width: 100%;
    justify-content: flex-start;
    row-gap: 10px;
    align-items: stretch;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    display: flex;
    height: 100%;;
    input {
        width: 100%;
        padding: 5px;
        border-radius: 6px;
        transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out;
        font-family: "Betania Patmos In GDL", cursive;
        font-weight: 400;
        font-style: normal;
    }
}
.sideBtn input:hover{
    box-shadow: 4px 5px 0 #000000, 0 12px 20px rgb(190, 173, 206);

}