.betania-patmos-in-gdl-regular {
  font-family: "Betania Patmos In GDL", cursive;
  font-weight: 400;
  font-style: normal;
}


.modal{
    width:fit-content;
    cursor: pointer;
    background-color: white;
    p{
        display:flex;
        justify-content: space-around;
    }
    input.button{
        width: 100%;
        padding: 5px;
        border-radius: 6px;
        transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out;
        font-family: "Betania Patmos In GDL", cursive;
        font-weight: 400;
        font-style: normal;
    }
    input.button:hover{
        border-color: #11111100;
        box-shadow: 0 5px 0 #dfdfdf, 0 12px 20px #f262ff;
        outline: none;
        
    }
    input.button:active{
        box-shadow: 0 1px 0 #dfdfdf, 0 6px 10px #f262ff;
        transition: transform 0.3s ease-out, box-shadow 0.1s ease-in-out;
    }
    input.input_modal{
        border: none;
        background-color: rgb(255, 255, 255);
        padding: 5px 0px;
        text-align: center;
        border-radius: 6px;
        box-shadow: 0 1px 0 #dfdfdf, 0 8px 10px #f8c9ee;
        transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out;
    }
    input.input_modal:hover{
        box-shadow: 0 5px 0 #dfdfdf, 0 12px 20px #f262ff;
        
    }
    input.input_modal:focus{
        outline: none;
        background-color: #aaaaaa42;
    }
    
    border: solid 1px black;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 3px 0px #ef8be9, 2px 8px 20px #be7baf;
    transition: transform 0.5s ease-out, box-shadow 0.3s ease-in-out;
}

middle{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: fixed;
    background: #b5a2e961;
    font-family: "Betania Patmos In GDL", cursive;
    font-weight: 400;
    font-style: normal;
}
.login{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.pass{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}